<div class="d-flex flex-column justify-content-end">
    <div class="d-flex flex-row justify-content-center footer">
        <div class="text-center footer-data">
            More about us:
            <ul class="list d-flex flex-row justify-content-evenly footer-content mt-2">
                <li class="item">Wikipedia</li>
                <li class="item">YouTube</li>
                <li class="item">Google</li>
            </ul>
            <div class="Copyright mt-2">Copyright &#169; 2025</div>
            <div class="programmer mt-2">Made by Aaron</div>
        </div>
    </div>
</div>