<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
        <div class="brand-details">
            <img src="https://icons.iconarchive.com/icons/paomedia/small-n-flat/256/sun-icon.png" alt="brand-image"
                class="brand-icon" width="50px" height="50px">
            <a class="navbar-brand" routerLink="/homepage/home">Weather App</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-row justify-content-around">
                <li class="nav-item">
                    <a class="nav-link" routerLink="weather-app">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="about-us">About</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link"  routerLink="footer">Footer</a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>