<app-navbar></app-navbar>

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid" *ngIf="weatherData">
        <ul class="navbar-nav me-auto d-flex flex-row justify-content-between align-items-center w-100">
            <li class="nav-item w-30">
                <div class="nav-link me-2">
                    <p class="navbar-brand">{{weatherData.location.name}}</p>
                    <p class="locationarea">{{weatherData.location.region}},{{weatherData.location.country}}</p>
                </div>
            </li>
            <li class="nav-item w-auto">
                <p class="nav-link me-2">Humidity: {{weatherData.current.humidity}}%</p>
            </li>
            <li class="nav-item w-auto">
                <p class="nav-link me-2">Visiblity: {{weatherData.current.vis_km}}km</p>
            </li>
            <li class="nav-item w-auto">
                <p class="nav-link me-2">Wind Direction: {{weatherData.current.wind_dir}}</p>
            </li>
            <li class="nav-item w-auto">
                <p class="nav-link me-2">Wind Speed: {{weatherData.current.wind_kph}}km/hr</p>
            </li>
            <li class="nav-item w-auto">
                <p class="nav-link me-2">{{weatherData.current.temp_c}}°C <img
                        src={{weatherData.current.condition.icon}}></p>
            </li>
        </ul>
    </div>
</nav>

<section class="container">
<router-outlet></router-outlet>
</section>

<app-footer class="mt-auto"></app-footer>