<!-- <app-navbar></app-navbar> -->
<div class="about-us">
    <h1 class="about">About Us</h1>
    <p class="ms-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis expedita, vel vitae nemo repellendus itaque
        quas aliquam delectus, maiores quaerat eligendi minima nisi consequatur sint est sequi maxime natus! Nulla,
        dolorum eveniet molestiae voluptates mollitia modi quos. Eaque magnam quae repudiandae modi deserunt nam aut
        ipsam provident aspernatur earum quod inventore, debitis hic odit nisi aliquid ipsa tempora accusamus ex et
        dolorum quibusdam rerum explicabo non! Eos fugiat sapiente cumque praesentium nihil sit accusantium labore,
        reiciendis, suscipit quia amet laboriosam earum magnam maiores iure dolorem impedit ab soluta dolores libero
        aliquam sint excepturi culpa? Amet et sit blanditiis, odio minus vel accusantium aut aspernatur dicta deserunt
        dolorum fuga culpa animi eius debitis nostrum est, eligendi nihil inventore at modi voluptatem mollitia! Nemo
        accusantium modi, ducimus ullam numquam odit nisi inventore quaerat et vero incidunt perspiciatis suscipit amet
        consequuntur? Debitis tenetur aperiam unde at, obcaecati vel odit qui repudiandae blanditiis minima cumque,
        pariatur, saepe iure expedita facilis numquam alias enim. Ex sequi molestias assumenda excepturi dolores tempore
        necessitatibus repudiandae sunt. Ipsum numquam ducimus facilis ex dignissimos tempore, laborum molestiae in
        atque facere a quod itaque ipsa quaerat laudantium et harum eius, ut qui voluptates architecto sit cum quia
        saepe. Odio quae impedit maxime adipisci deserunt molestias enim est quaerat quidem obcaecati? Totam, enim sed!
        Animi, architecto! Dicta repellat quas deleniti illo, nisi doloremque mollitia sed iste sapiente aliquid
        necessitatibus molestias, quos blanditiis soluta? Voluptatibus, repellendus earum ullam excepturi assumenda
        porro a voluptatem dignissimos autem sapiente accusantium cupiditate. Enim quisquam dolore, quibusdam ipsa vero
        consequatur quis porro maiores voluptatibus ullam minima facere inventore asperiores eius corrupti assumenda
        unde voluptatum illo reiciendis! Culpa itaque provident, sit soluta nesciunt illo. Minima vel dolorum fuga porro
        cumque rem, est, sunt non atque impedit doloribus! Eum corporis vero soluta, voluptatem ipsa facere consectetur
        unde distinctio enim ea vitae ex rerum! Asperiores laborum iure, architecto saepe itaque beatae quam voluptatum
        tenetur quas molestias pariatur inventore deserunt voluptatibus soluta reprehenderit dolore error, dicta,
        explicabo suscipit dolorem rerum commodi. Facere, explicabo numquam. Vero inventore vitae nesciunt perspiciatis
        iusto similique error voluptates perferendis officia quia, debitis aliquid dolor eligendi distinctio! Corporis,
        commodi possimus recusandae obcaecati voluptatum minus beatae unde. Omnis amet nemo optio sapiente cupiditate
        illo distinctio. Cumque assumenda id fugit impedit. Assumenda, omnis temporibus. Officiis, eum. Cupiditate
        aliquid corporis suscipit, pariatur harum hic qui eum aperiam deserunt tenetur eaque quibusdam adipisci illum ut
        dolorem voluptatem rem dolorum officia quidem?</p>
</div>